* {
  font-family: JetBrainsMono-Nerd;
}

window {
  margin: 1px;
  border: 2px solid #ff0066;
  border-radius: 10px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid #ff0066;
  background-color: #1e1e2e;
  color: #c0caf5;
}

#inner-box {
  margin: 5px;
  background-color: #1d202f;
}

#outer-box {
  margin: 3px;
  padding: 0px;
  background-color: #1e1e2e;
  border-radius: 0px;
}

#text {
  margin: 10px;
  color: #c0caf5;
}

#entry:selected {
  background-color: #414868;
}

#text:selected {
  text-decoration-color: #c0caf5;
}
